
@media only screen and (max-width: 950px) {
    header p{
        display: none;
    }
    .header_blockA{
        padding: 80px;
    }
    .loader{
        width: 200px;
        height: 200px;
    }
    section{
        height: max-content;
    }
    aside{
        height: max-content;
    }
    aside h1{
        padding-top: 25px;
    }
    .aside_subBlockA{
        width: 100px;
    }
    .aside_subBlockB{
        width: 130px;
        margin-left: 40px;
    }
    .aside_subBlockC{
        width: 300px;
    }
    .aside_subBlockD{
        width: 400px;
    }
    .aside_subBlockE{
        width: 320px;
        margin-left: 180px;
    }
    .aside_subBlockF{
        width: 600px;
    }
    figure{
        height: max-content;
    }
    .figure_blockA h1{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .figure_blockB{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-self: center;
        gap: 30px;
    }
    footer{
        height: max-content;
    }
    .footer_blockA a .fa-regular {
        display: none;
    }
    .footer_blockA a .fa-solid {
        display: none;
    }
    .footer_blockC{
        height: max-content;
        padding-bottom: 50px;
    }

}





/* ----------------- handphone--------------  */



@media only screen and (max-width: 884px){

    .Container{
        display: none;
    }
    .container1{
        display: inline;
        overflow: hidden;
    }
    .subcontainer1{
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #380202, rgb(20, 4, 4), black);
    }
    .nav_blockA{
        background: rgb(238, 248, 246);
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        height: 80px;
        justify-content: space-around;
    }
    .nav_blockA a{
        display: inline-block;
        text-decoration: none;
        align-self: center;
        color: black;
        
    }
    
    .nav_blockA i{
        font-size: 20px;
        padding: 5px 25px 5px 25px;
        border-radius: 18px;
    }
    .nav_blockA .active{
        background: rgba(0, 162, 255, 0.356);
    }
    .nav_blockA sub{
        font-family: sans-serif;
    }

    /* -------------------  */
    button{
        background: transparent;
        border: none;
    }
    .subcontainer1_blockA{
        display: grid;
        justify-content: flex-end;
        height: 45px;
        padding-right: 20px ;
        align-content: end;
    }
    .subcontainer1_blockA i{
        color: white;
        font-size: 25px;
    }
    .subcontainer1_blockB{
        display: grid;
        width: 100%;
        justify-content: center;

    }
    .subcontainer1_blockB img{
        width: 300px;

    }
    .subcontainer1_blockC{
        display: grid;
        width: 100%;
        box-sizing: border-box;
    }
    .subcontainer1_blockC img{
        justify-self: end;
        margin-right: 10px;
        border-radius: 50%;
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }
    .subcontainer1_blockD{
        box-sizing: border-box;
        width: 100%;
        color: white;
    }
    .subcontainer1_blockD h2{
        text-align: center;
    }
    .subcontainer1_blockD p{
        text-align: center;
    }
    .subcontainer1_blockE{
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'h3E_blockA h3E_blockB h3E_blockC ';
        justify-content: space-around;
        margin-top: 30px;
        color: white;
    }
    .h3E_blockA {
        grid-area: h3E_blockA ;
        text-align: center;
    }
    .h3E_blockB {
        grid-area: h3E_blockB;
        text-align: center;
        border-left: 1px solid aqua;
        border-right: 1px solid aqua;
    }
    .h3E_blockC {
        grid-area: h3E_blockC;
        text-align: center;
    }
    .subcontainer1_blockF{
        display: grid;
        justify-content: center;
        color:white;
        width: 100%;
        padding: 20px;
        height: max-content;
        margin-top: 30px;
        box-sizing: border-box;
    }
    .subcontainer1_blockF p{
        text-align: center;
    }
    .subcontainer1_blockF a{
        justify-self: center;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 8px 20px;
        background: aqua;
        box-sizing: border-box;
        border-radius: 20px;
        margin-top: 50px;
        width: 200px;
    }
    .subcontainer1_blockF a:hover{
        background: rgba(2, 58, 58, 0.747);
        color: white;
    }



    


}














